
@import url("mediaq.css");

:root {
    --font-main: 'Muli', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.title, div, input {
    font-family: var(--font-main);
}

div {
    font-size: 0.75rem;
}

.title {
    text-align: center;
    color: white;
    background-color: darkgray;
    width: 100%;
    padding: 0;
    margin: auto;
    border-radius: 15px 15px 0 0;
}

.fas {
    margin: 0 10px;
}

h2, h3 {
    text-align: center;
    margin-top: 1%;
    font-size: 1rem;
}

/* Toolbar */
.toolbar {
    width: 100%;
    padding: 0;
    background-color: darkgray;
    margin: 0;
}

.hex-container {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    margin: 0 auto;
}

.hex-input {
    width: 25%;
    padding: 0.5%;
}

/* Containers */
.main-container {
    display: flex;
    width: 100%;
    padding: 0;
    margin: auto;
}

.container-1 {
    display: inline-block;
    width: 25%;
    margin: 1% 0 0 24%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.container-2 {
    float: right;
    width: 25%;
    margin: 1% 25% 0 0;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.sample-container {
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
}

/* Color Sample */
.color-sample {
    width: 90%;
    padding: 15% 0;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.primary-color-swatch {
    width: 100%;
    padding: 5% 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Buttons */
.button {
    padding: 2%;
}

.btn-add {
    font-size: 2rem;
    color: black;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity .5s;
}

.btn-add:hover {
    opacity: 1;
    transition: opacity .5s;
}

.toolbar-icon {
    color: white;
    font-size: 3rem;
    width: 30vw;
    padding: 1%;
    margin: auto;
    height: auto;
}

.color-btn {
    width: 100%;
    margin: 0 auto;
}

.btn-rgb, .btn-hsl, .btn-hex {
    width: 1%;
    font-size: 1vw;
    vertical-align: 1rem;
    margin: 0 1%;
    padding: 0.2% 2%;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-rgb:hover, .btn-hsl:hover, .btn-hex:hover, .btn-getall:hover {
    background-color: #ddd;
    transition: all 0.5s ease;
}

.btn-getall {
    width: 1%;
    font-size: 1vw;
    vertical-align: 1rem;
    margin: 1%;
    padding: 0.4% 2%;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}


/* Input sliders */
.input-hsl {
    background-color: rgba(255, 255, 255, 0.25);
    width: 60%;
    padding: 0.5% 0;
    margin: auto;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.slidecontainer {
    width: 75%;
    margin: auto;
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    margin: 1% 0;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .5s;
    transition: opacity .5s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    cursor: pointer;
}